/*css reset start*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*補充*/
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
/*css reset end*/

/*index page start*/
.table-0 {
	position: relative;
	max-width:1100px;
	height:auto;
	box-shadow:3px 3px 15px #cccccc;
	margin:0px auto ;
	font-family: "Microsoft JhengHei","Arial";
}
	.fixed-container {
		z-index: 100;
		position: fixed;
		top: 0;
		width: 100%;
		max-width:1100px;
		margin: 0 auto;
		box-shadow:3px 3px 15px #cccccc;
	}
		.header{
			background-image:url('../images/top_02.gif');
		}
			.header-wrap {
				background: -webkit-linear-gradient(#329CED,#0165BB);
				height: 42px;
				line-height: 40px;
			}
				.header-menu {
					float: right;
				}
					.header-menu li {
						float: left;
						width: 100px;
					}
						.header-menu a {
							text-decoration:none;
							color:#FFF;
							display: block;
							text-align: center;
						}
						.header-menu a:hover {
							border:1px solid #329CED;
							background: -webkit-linear-gradient(#0065ba,#0165E4);
						}
			.showmenu {
		        display: none;
		    }
			.clear-fix {
				clear:both;
			}

			@media (max-width: 920px) { 
				.header-menu li{
					width: 80px;
				}
			}
			@media (max-width: 768px) {
				.header-menu {
					height: auto;
					float: none;
					max-height: 0px;
					overflow: scroll;

					-webkit-transition: max-height 0.3s;
					-o-transition: max-height 0.3s;
					transition: max-height 0.3s;

					position: absolute;
					z-index: 100;
					top: 139px;
					left: 0;
					right: 0;
					background-color: #fff;	
					padding: 0px; 
				}
				.header-menu li {
					float: none;
					width: 100%;
					border-top: 1px solid #d4ecff;
    				border-bottom: 1px solid #329CED;
				}
				.header-menu li a {
				    padding: 4px;
				    color: #0165bb; 
				}
				.header-menu li a:hover {
				    background: #ddd;
				    color: #fff;
				    border: none; 
				}
				.showmenu {
					display: block;
					float: right; 
					margin-right: 20px;
					color: #fff;
					text-decoration: none;
					font-size: 20px;
				}
				.menu-show .header-menu {
					max-height: 500px; 
				} 
			}
			@media (max-width: 736px) {
				.header-menu {
					top: 138px;
					height: 199%;
				}
			}
			@media (max-width: 667px) {
				.header-menu {
					height: 171%;
				}
			}
			@media (max-width: 640px) {
				.header-menu {
					height: 160%;
				}
			}
			@media (max-width: 568px) {
				.header-menu {
					height: 131%;
				}
			}
			@media (max-width: 414px) {
				.header-menu {
					height: auto;
				}
			}
			@media (max-width: 375px) {
				.header-menu {
					top: 128px;
				}
			}
			@media (max-width: 360px) {
				.header-menu {
					top: 128px;
				}
			}
			@media (max-width: 320px) {
				.header-menu {
					top: 115px;
				}
			}
	/*圖片輪播*/
	.mySlides {
		display: none;
	    margin-top:137px; 		
	}
		.mySlides  img {
			vertical-align: middle;
			width: 100%;
		}
	/* Slideshow container */
	.slideshow-container {
		max-width: 1100px;
		position: relative;
		margin: auto;
	}
	.active {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@media (max-width: 812px) {
	  .slideshow-container {
	  	display: none;
	  }
	}
	
	/*圖片輪播end*/

	/*2	*/
	.table-1 {
		width:100%;
		height:auto;
		margin:0px auto 15px;
	}
		.table-1-1 {
			display: inline-block;
			width: 68%;
			height:auto;
			margin-left: 1.3%;
			padding-top: 10px;
		}
		.box-style-1 {
			box-shadow:2px 2px 7px #cccccc;
			border-radius:10px;
		}
			.index-ab-1 {
				width: 100%;
				height: auto;
				background-image: url(../images/h_03.jpg);
				background-repeat: no-repeat;
				padding: 5% 1% 3%;
			}
				.index-ab-img-2{
					display: none;
				}
				.ab-rwd-wrap  {
					width: 58%;
					display: inline-block;
				}
					.index-ab-img-3 {
						display: none;
					}

					.index-content-1 p {
						width: 100%;
					    font-size: 10pt;
					    letter-spacing: 3px;
					    text-indent: 32px;
					    line-height: 130%;
					    padding: 52px 22px 14px 190px;
					}
						.link-more-1 {
							color: #0088cc;
							text-decoration: none;
							font-weight: bold;
						}
						.link-more-1:hover {
							color: #b8dec7;
						}
				.index-ab-img-1 {
					display: inline-block;
					width: 38%;
					vertical-align: bottom;
					text-align: center;
				}
					.index-ab-img-1 img {
						height: 185px;
					    height: 180px;
					    border-radius: 20px;
					    border: 7px double #ddd;
					    padding: 3px;
					}
			.index-ab-2 {
				padding: 0 4% 3% 3%;
			}
				.video-container {
					width: 54%;
					margin: 0 1%;
					display: inline-block;
					float: left;
				}
					.video-container iframe {
						width: 100%;
						height: 185px;
						border-radius: 10px;
						border-radius: 20px;
					    border: 7px double #ddd;
					    padding: 3px;
					}
				.index-content-2 {
					display: inline-block;
					width: 44%;
					height: auto;
					font-size: 10pt;
					letter-spacing: 3px;
					text-indent: 32px;
					line-height: 170%;
					padding-left: 10px;
				}
					.index-contact-img img {
						display: block;
					}

		@media (max-width: 1024px) {
			.video-container {
				width: 54%;

			}
			.index-content-2 {
				width: 44%;
				line-height: 145%;
			}
		}

		@media (max-width: 812px) {
			.table-rwd-top {
				margin-top: 130px;
			}
			.table-1-1 {
				width: 100%;
				margin-left: 0;
				height:auto;
				padding-top: 0px;
				display: block;
			}
			.box-style-1 {
				box-shadow:none;
			}
				.index-ab-1 {
					padding: 5% 1% 2%;
				}

					.index-content-1 p{
						font-size: 16px;
						text-indent: 38px;
						padding: 52px 0px 14px 200px;
					}

				.video-container {
					width: 50%;
				}
				.index-content-2 {
					width: 47%;
					line-height: 170%;
				}
					.index-content-2 p {
						font-size: 16px;
						text-indent: 38px;
					}
		}

		@media (max-width: 768px) {
			.index-ab-1 {
				background-image: none;
				padding: 0 0 2% 0;
			}
				.index-ab-img-2 {
					display: block;
				}
				.index-ab-1 p {
					padding:0 3%;
					width: 100%;
				}
			.index-ab-2 {
				padding: 0 4% 3% 3%;
			}
		}
		@media (max-width: 667px) {
				
			.index-ab-2 {
				padding: 0 3% 2%;
			}
				.video-container {
					width: 100%;
					display: block;
					float: none;
					margin: 0;
				}
				.index-content-2 {
					width: 100%;
					padding-left: 0;
				}
					.index-content-2 p{
						margin-top: 2%;
					}
					.index-contact-img {
						border: 1px solid #e9e9e9;
						margin-top: 2%;
					}
		}
		@media (max-width: 568px){
			.ab-rwd-wrap {
					width: 100%;
				}
					.index-ab-img-3 {
						display: block;
						margin: 0 3%;
						/*width: 100%;*/
						border-radius: 20px;
					    border: 7px double #ddd;
					    padding: 3px;
					}
						.index-ab-img-3 img {
							border-radius: 20px;
						}
				.index-ab-img-1 {
					display: none;
				}
		}

		.table-1-2 {
			float: right;
			width: 28%;
			margin-right: 1.3%;
			display: inline-block;
			vertical-align:top;
		}
			.side-menu {
				width: 100%;
				padding: 8.5% 10%;
			}
				.nav{
						margin: 10px 0 0 20px;
					}
						.nav li{
							text-align:left;
							text-decoration: none;
							list-style-type:square;
							padding: 3px 0;
							margin: 2px 0 2px 8px;
							border-bottom: 1px dashed #ddd;
						}
		@media (max-width: 1024px){
			.side-menu {
					margin-bottom: 4%;
				}
		}

		@media (max-width: 812px){
			.table-1-2{
				display: block;
				float: none;
				width: 100%;
				margin-right: 0;
			}
				.side-menu {
					display: inline-block;
					width: 39%;
					margin: 0 7% 0 0;
					padding:0 0 0 7%;
				}

		}
		@media (max-width: 768px) {
			.side-menu {
					padding:0 3%;
				}
		}

		@media (max-width: 568px) {
			.side-menu {
				display:block;
				width: 100%;

			}
		}

	/*3*/ /*4*/
	.section-wrap {
		margin: 0 1.3% 15px;
		padding: 10px 0;

	}
		.title-style-1 {
			text-align: center;
			padding: 20px;
			font-size: 20px;
			color: #0080BD;
		}
			.title-style-1 h2 {
				display: inline-block;
			}
			.title-line {
				display: inline-block;
				border:1px solid #0080BD;
				width: 70px;
				margin-bottom: 6px;
			}
		.table-1-3 {
			display:inline-block;
			width: 30%;
			height: auto;
			margin: 1% 1.4%;
			vertical-align: top;
		}
			.table-1-3 a {
				text-decoration: none;
			}
			.table-1-3 ol li {
					list-style-type:decimal;
					margin-left: 2em;
				}

		/*精選課程*/
		.course-1-3 {
		    line-height: 24px;
			letter-spacing: 3px;
			font-size: 14px;
			color: #4a4b46;
			padding: 7% 10px;

			position: relative;
		    border-radius: .5em;
		    background: linear-gradient(-150deg, transparent 1.5em, #c0ebff 0);
		}
			/*摺頁效果*/
		.course-1-3::before {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 1.73em;
			height: 3em;
			background: linear-gradient(to left bottom, transparent 50%, rgba(0,0,0,.2) 0,rgba(0,0,0,.4)) 100% 0 no-repeat;
			transform: translateY(-1.27em) rotate(-30deg);
			transform-origin: bottom right;
			border-bottom-left-radius: inherit;
			box-shadow: -.2em .2em .3em -.1em rgba(0,0,0,.15);
		}
			.title-style-2 {
				font-size:15px;
				color:#428bca;
				font-weight:bold;
				letter-spacing:1px;
				margin-bottom: 5px;
			}
				.link-more-2 {
					font-weight: bold;
					color: #de9f7e;
				}
				.link-more-2:hover {
					color: #efc83d;
				}
		/*相關連結*/
			
			.outlink-1-3 {
			  width: 100%;
			  height: 150px;
			  background: #428bca;
			  position: relative;
			  box-shadow: 0 4px 10px rgba(0, 0, 0, .30);
			}
			.outlink-1-3:hover {
				box-shadow: 0 6px 15px rgba(0, 0, 0, .40);
			}
				.outlink-1-3 p {
					display: inline-block;
				    float: right;
				    margin-top: 16%;
				    margin-right: 10%;
				    font-size: 26px;
				    color: #fff;
				    font-weight: bold;
				    width: 36%;
				    text-align: center;
				    line-height: 1.5;
				}
				.trapezoid {
					 width:50%;
					 border-right: 50px solid transparent;
					 border-top:150px solid #F6F0EA;
					 position: relative;
				}
					.trapezoid img {
						border-radius: 50%;
						vertical-align: top;
						width: 93%;
						position: absolute;
						bottom: 30px;
						left: 15px;
						display: block;
						border: 7px double #beb2a5;
						padding: 3px;
					}
				.bookmark:before{ 
					content:'';
					width:20px;
					height: 0%;
					border: 15px solid;
					border-color: transparent #ffc83d transparent transparent ;
					position: absolute;
					right:100%;
					top: 0px;
				} 
				.bookmark {
					width: 31.5%;
					height: 30px;
					background-color: #ffc83d;
					line-height: 30px;
					text-align: center;
					position: absolute;
					top: 8%;
					left: 73%;
					color: #428bca;
					font-weight: bold;
				} 
				.bookmark:after {
					content:'';
					width:10px;
					border: 15px solid;
					border-color: transparent transparent transparent #58661C;
					border-top: 0;
					position: absolute;
					right: -14px;
					top: 30px; 
				}

	@media (max-width: 1024px) {
		.course-1-3 {
			font-size: 14px;
			letter-spacing: 2px;
			padding: 6% 9px;
		}
			.course-1-3 h2 {
				letter-spacing: 0px;
			}
	}
	@media (max-width: 812px) {
		.title-style-1 {
			padding-top: 5px;
		}
		.course-1-3 {
			letter-spacing: 1px;
		    height: 180px;
		}
			.course-1-3 h2 {
				margin: 12px 6px 0 0;
			}
		.outlink-1-3 {
			box-shadow: 6px 6px 4px #ccc;
		}
			.outlink-1-3 p{
				width: 40%;
				font-size: 23px;
				margin-top: 22%;
			}
			.outlink-1-3 .trapezoid img {
				display: none;
			}
		.bookmark {
			left: 75%;
		}
	}
	@media (max-width: 768px) {
		.section-wrap {
			margin: 0 4% 15px;
		}
		.table-1-3 {
			margin: 0;
		}
		.rwd-m {
			margin: 1%;
		}
			.course-rwd {
				width: 100%;
			}
				.course-1-3 {
					letter-spacing: 3px;
					height: auto;
					padding: 2% 9px;
					margin-bottom: 3%;
				}
					.course-1-3 h2 {
						margin: 0;
					}
					.outlink-1-3 p {
						width: 45%;
					    font-size: 22px;
					    margin-top: 28%;
					}

				.bookmark {
					font-size: 13px;
				}
	}
	@media (max-width: 667px) {
		.course-1-3 {
			letter-spacing: 1px;
		}

		.outlink-1-3 {
			height:70px ;
		}
			.outlink-1-3 p {
			    font-size: 17px;
			    width: 100%;
			    margin-right: 0%;
			    margin-top: 19%;
			    text-align: center;
			    letter-spacing: 1px;
			}
			.trapezoid {
				display: none;
			}
		.bookmark {
		    width: 50%;
		    height: 20px;
		    line-height: 20px;
		    top: 10%;
		    left: 56%;
		}
		.bookmark:before {
    		border: 10px solid;
    		border-color: transparent #ffc83d transparent transparent;
		}
		.bookmark:after {
		    right: -10px;
    		top: 20px;
    		border: 10px solid;
		    border-color: transparent transparent transparent #58661C;
		    border-top: 0;
		}
	}
	@media (max-width: 414px) {
			.outlink-1-3 p {
		        font-size: 14px;
			    margin-right: 36%;
			    margin-top: 22%;
			    width: 55%;
			    text-align: left;
    			letter-spacing: inherit;
			}
		.bookmark{
			left:59%;
			font-size: 10px;
		}
	}
	@media (max-width: 375px) {
			.outlink-1-3 p {
		        font-size: 14px;
			    margin-right: 36%;
			    margin-top: 30%;
			    width: 58%;
			    line-height: 1.2;
			}
	}
	@media (max-width: 360px) {
		.outlink-1-3 p{
			font-size: 10px;
		    margin-right: 35%;
		    margin-top: 30%;
    		width: 54%;
		    line-height: 1.5;
		}
	}
	@media (max-width: 320px) {
		.course-1-3 {
			padding: 4% 9%;
		}
		.outlink-1-3 p{
		    margin-top: 33%;
		    width: 56%;
				}
	}


	.footer {
		width:100%;
		padding: 15px 0;
		background: #0065ba;
		text-align:center;
	}
	.footer-2 {
		display:inline-block;
		letter-spacing: 2px;
		font-size: 13px;
		color: #fff;
		margin:0px 10px;
	}



/*index page end*/

