/*css reset start*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*補充*/
*,*:before,*:after{
	box-sizing: border-box;
}
img{
	max-width: 100%;
	height: auto;
}
/*css reset end*/

/*index page start*/
.table-0 {
	position: relative;
	max-width:1100px;
	height:auto;
	box-shadow:3px 3px 15px #cccccc;
	margin:0px auto ;
	font-family: "Microsoft JhengHei","Arial";
}
	.fixed-container {
		z-index: 100;
		position: fixed;
		top: 0;
		width: 100%;
		max-width:1100px;
		margin: 0 auto;
		box-shadow:3px 3px 15px #cccccc;
	}
		.header{
			background-image:url('../images/top_02.gif');
		}
			.header-wrap {
				background: -webkit-linear-gradient(#329CED,#0165BB);
				height: 42px;
				line-height: 40px;
			}
				.header-menu {
					float: right;
				}
					.header-menu li {
						float: left;
						width: 100px;
					}
						.header-menu a {
							text-decoration:none;
							color:#FFF;
							display: block;
							text-align: center;
						}
						.header-menu a:hover {
							border:1px solid #329CED;
							background: -webkit-linear-gradient(#0065ba,#0165E4);
						}
			.showmenu {
		        display: none;
		    }
			.clear-fix {
				clear:both;
			}

			@media (max-width: 920px) { 
				.header-menu li{
					width: 80px;
				}
			}
			@media (max-width: 768px) {
				.header-menu {
					height: auto;
					float: none;
					max-height: 0px;
					overflow: hidden;

					-webkit-transition: max-height 0.3s;
					-o-transition: max-height 0.3s;
					transition: max-height 0.3s;

					position: absolute;
					z-index: 100;
					top: 139px;
					left: 0;
					right: 0;
					background-color: #fff;	
					padding: 0px; 
				}
				.header-menu li {
					float: none;
					width: 100%;
					border-top: 1px solid #d4ecff;
    				border-bottom: 1px solid #329CED;
				}
				.header-menu li a {
				    padding: 4px;
				    color: #0165bb; 
				}
				.header-menu li a:hover {
				    background: #ddd;
				    color: #fff;
				    border: none; 
				}
				.showmenu {
					display: block;
					float: right; 
					margin-right: 20px;
					color: #fff;
					font-size: 20px;
				}
				.menu-show .header-menu {
					max-height: 500px; 
				} 
			}
			@media (max-width: 375px) {
				.header-menu {
					top: 128px;
				}
			}
			@media (max-width: 360px) {
				.header-menu {
					top: 125px;
				}
			}
			@media (max-width: 320px) {
				.header-menu {
					top: 115px;
				}
			}
	/*圖片輪播*/
	.mySlides {
		display: none;
	    margin-top:137px; 		
	}
		.mySlides  img {
			vertical-align: middle;
			width: 100%;
		}
	/* Slideshow container */
	.slideshow-container {
		max-width: 1100px;
		position: relative;
		margin: auto;
	}
	.active {
		background-color: #717171;
	}

	/* Fading animation */
	.fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@keyframes fade {
		from {opacity: .4} 
		to {opacity: 1}
	}

	@media (max-width: 812px) {
	  .slideshow-container {
	  	display: none;
	  }
	}
	
	/*圖片輪播end*/

	/*2	*/
	.table-1 {
		width:100%;
		height:auto;
		margin:0px auto 15px;
	}
		.table-1-1 {
			display: inline-block;
			width: 68%;
			height:auto;
			margin-left: 1.3%;
			padding-top: 10px;
		}
		.box-style-1 {
			box-shadow:2px 2px 7px #cccccc;
			border-radius:10px;
		}
			.index-ab-1 {
				width: 100%;
				height: auto;
				background-image: url(../images/h_03.jpg);
				background-repeat: no-repeat;
				padding: 5% 1%;
			}
				.index-ab-img-2{
					display: none;
				}
				.ab-rwd-wrap  {
					width: 78%;
					display: inline-block;
				}
					.index-ab-img-3 {
						display: none;
					}

					.index-content-1 p {
						width: 100%;
						font-size: 10pt;
					    letter-spacing: 3px;
						text-indent: 2em;
						line-height: 170%;
						padding: 61px 10px 10px 182px;
					}
						.link-more {
							color: #0088cc;
							text-decoration: none;
							font-weight: bold;
						}
						.link-more:hover {
							color: #b8dec7;
						}
				.index-ab-img-1 {
					display: inline-block;
					width: 20%;
					vertical-align: bottom;
				}
			.index-ab-2 {
				padding: 0 4% 3% 7%;
			}
				.video-container {
					width: 50%;
					margin: 0 1%;
					display: inline-block;
					float: left;
				}
					.video-container iframe {
						width: 100%;
						height: 185px;
					}
				.index-content-2 {
					display: inline-block;
					width: 47%;
					height: auto;
					font-size: 10pt;
					letter-spacing: 3px;
					text-indent: 2em;
					line-height: 170%;
				}
					.index-contact-img img {
						display: block;
					}

		@media (max-width: 1024px) {
			.video-container {
				width: 54%;

			}
			.index-content-2 {
				width: 44%;
				line-height: 145%;
			}
		}

		@media (max-width: 812px) {
			.table-rwd-top {
				margin-top: 130px;
			}
			.table-1-1 {
				width: 100%;
				margin-left: 0;
				height:auto;
				padding-top: 0px;
				display: block;
			}
			.box-style-1 {
				box-shadow:none;
				border-radius:none;
			}
				.video-container {
					width: 50%;
				}
				.index-content-2 {
					width: 47%;
					line-height: 170%;
				}
		}

		@media (max-width: 768px) {
			.index-ab-1 {
				background-image: none;
				padding: 0 0 2% 0;
			}
				.ab-rwd-wrap {
					width: 78%;
				}
				.index-ab-img-2 {
					display: block;
				}
				.index-ab-1 p {
					padding:0 4%;
					width: 100%;
				}
			.index-ab-2 {
				padding: 0 4% 3% 3%;
			}
		}
		@media (max-width: 667px) {
				
			.index-ab-2 {
				padding: 0 3% 2%;
			}
				.video-container {
					width: 100%;
					display: block;
					float: none;
					margin: 0;
				}
				.index-content-2 {
					width: 100%;
				}
					.index-content-2 p{
						margin-top: 2%;
					}
					.index-contact-img {
						border: 1px solid #e9e9e9;
						margin-top: 2%;
					}
		}
		@media (max-width: 568px){
			.ab-rwd-wrap {
					width: 100%;
				}
					.index-ab-img-3 {
						display: block;
						padding: 0 4%;
					}
				.index-ab-img-1 {
					display: none;
				}
		}

		.table-1-2 {
			float: right;
			width: 28%;
			margin-right: 1.3%;
			display: inline-block;
			vertical-align:top;
		}
			.side-menu {
				width: 100%;
				padding: 9.4% 10%;
			}
				.nav{
						margin: 10px 0 0 20px;
					}
						.nav li{
							text-align:left;
							text-decoration: none;
							list-style-type:square;
							padding: 3px 0;
							margin: 2px 0 2px 8px;
							border-bottom: 1px dashed #ddd;
						}
		@media (max-width: 1024px){
			.side-menu {
					margin-bottom: 5.3%;
				}
		}

		@media (max-width: 812px){
			.table-1-2{
				display: block;
				float: none;
				width: 100%;
				margin-right: 0;
			}
				.side-menu {
					display: inline-block;
					width: 39%;
					margin: 0 7% 0 0;
					padding:0 0 0 7%;
				}

		}
		@media (max-width: 768px) {
			.side-menu {
					padding:0 3%;
				}
		}

		@media (max-width: 568px) {
			.side-menu {
				display:block;
				width: 100%;

			}
		}

	/*3*/ /*4*/
	.section-wrap {
		margin: 0 1.3% 15px;
		padding: 10px 0;

	}
		.title-style-1 {
			text-align: center;
			padding: 20px;
			font-size: 20px;
			color: #0080BD;
		}
			.title-style-1 h2 {
				display: inline-block;
				text-align: center;
			}
			.title-line {
				display: inline-block;
				border:1px solid #0080BD;
				width: 70px;
				margin-bottom: 6px;
			}
		.table-1-3 {
			display:inline-block;
			width: 30%;
			height: auto;
			margin: 1% 1.4%;
			vertical-align: top;
			font-size: 11pt;
		}
			.title-style-2 {
				font-size:16px;
				color:#0080BD;
				font-weight:bold;
				letter-spacing:1px;
				margin-bottom: 5px;
			}
		.infor-1-3 {
			line-height: 24px;
			letter-spacing: 3px;
			font-size: 14px;
		    box-shadow: 6px 6px 4px #ccc;
			border: 1px solid #E3E3E3;
			padding: 2% 10px;
			background-color: #eff7ff;
		}
				.table-1-3 ol li {
					list-style-type:decimal;
					margin-left: 2em;
					text-align: left;
				}
		.outlink-1-3 {
			box-shadow: 0 4px 10px rgba(0, 0, 0, .30);
  			transition: box-shadow .1s;
			width: 62%;
			margin: 0 19%;
		}
			.outlink-1-3 img {
				vertical-align: bottom;
			}
		.outlink-1-3:hover {
			box-shadow: 0 6px 15px rgba(0, 0, 0, .40);
		}
			.outlink-1-3 a  {
				display: block;
				text-decoration: none;
			}
				.title-style-3 {
					text-align: center;
					font-size:17px;
					color:#fff;
					font-weight:bold;
					letter-spacing:1px;
					padding: 8px;
					background-color: #0080bd;
				}

	@media (max-width: 1024px) {
		.infor-1-3 {
			font-size: 14px;
			letter-spacing: 2px;
			padding: 2% 9px;
		}
			.infor-1-3 h2 {
				letter-spacing: 0px;
			}
	}

	@media (max-width: 812px) {
		.title-style-1 {
			padding-top: 5px;
		}
		.infor-1-3 {
			letter-spacing: 1px;
			width: 29.9%;
		    height: 180px;
		}
		.outlink-1-3 {
			width: 100%;
			margin: 0;
			background: #0080bd;
			border-radius: 10px;
			box-shadow: 6px 6px 4px #ccc;

		}
			.outlink-1-3 img {
				display: none;
			}
			.title-style-3 {
				width: 100%;
				border-radius: 10px;
			}
				.title-style-3 h2 {
					line-height: 50px;
					
				}

	}

	@media (max-width: 768px) {
		.section-wrap {
			margin: 0 4% 15px;
		}
		.table-1-3 {
			margin: 0;
		}
		.rwd-m {
			margin: 1%;
		}
			.infor-1-3 {
				letter-spacing: 3px;
				width: 100%;
			    height: auto;
			    padding: 2% 9px;
			    margin-bottom: 3%;
			}

	}

	@media (max-width: 568px) {
		.infor-1-3 {
			letter-spacing: 1px;
		}
			.title-style-3 {
				font-size: 16px;
			}
	}


	.footer {
		width:100%;
		padding: 15px 0;
		background: #0065ba;
		text-align:center;
	}
	.footer-2 {
		display:inline-block;
		letter-spacing: 2px;
		font-size: 13px;
		color: #fff;
		margin:0px 10px;
	}

	@media (max-width: 414px){
		.title-style-3 {
			padding: 8px 19px;
		}
	}

	@media (max-width: 375px){
		.title-style-3 {
			padding:0;
		}
			.outlink-1-3  span{
				display: none;
			}
	}

/*index page end*/

